.ts-section {
    display: flex;
    justify-content: space-evenly;
 }
  
  .image {
    max-width: 100%;
    height: auto;
    border: 2px solid #ddd; /* Add a border to the image */
    border-radius: 8px; /* Optional: Add border radius for rounded corners */
  }
  
  
  .ts-name {
    font-size:40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
    margin-bottom: 10px;
  }
  
  .price {
    font-size: 18px;
    margin-bottom: 10px;
  }
  .add-remove-btn{
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
  }
  
  .add-button {
    position: relative;
    background-color: #4caf50;
    color: white;
    padding: 10px;
    min-width: 250px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  #cart-item{
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ffff; /* Set the background color */
    color: black; 
    font-size: 15px; 
    font-weight: 600;
    padding: 2px 6px; 
    border-radius: 40%; 
  }
  .remove-button {
    background-color: #e79175;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  } 
  .size-section{
    margin-top: 50px;
  }
  .size-buttons{
    display: flex;
    gap: 20px;
    margin-bottom: 10px;
  }
  .size-part{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .size-heading{
    font-size: 25px;
    color: rgb(149, 144, 144);
  }
  .size-link{
    text-decoration: none;
    align-self: flex-end;
  }
  .size-link-text{
    font-size: large;
    color: gray;
    text-decoration: black underline;
  }
  
  .size-button {
    height: 60px;
    width: 60px;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #cccc;
    background-color: #ffff;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
  }
  .size-button:hover {
    border: 3px solid black;
  }
  
 .size-button.active {
    background-color: #dddfdd; /* Change the color for the selected size */
    color: #ffff;
    border: 1px solid black;
  }
  
  
  