/* ProductList.css */

.product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

  }
  
  .product-item-link {
    text-decoration: none;
    color: inherit; /* Inherit the text color from the parent */
  }
  
  .product-item {
    margin: 20px;
    border-radius: 8px;
    text-align: center;
    width: 250px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2)
  }
  
  .product-image {
    border-radius: 8px;
  }
  
  .product-name {
    font-size: 18px;
    margin-top: 10px;
  }
  
  .price-section {
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }
  
  .price {
    font-weight: bold;
    color: #009688; /* Green color */
  }
  
  .prev-price {
    color: #757575; /* Gray color */
    text-decoration: line-through;
  }
  
  .pagination-container{
     display: flex;
     justify-content: center;
     margin-bottom: 10px;
  }
  .search-container{
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    height: 60px;
    border-top:2px solid #98d5df;
    display: flex;
    margin-top: 85px;

  }
  input{
    padding-left: 2%;
    border: none;
    width: 100%;
    height: 100%;
  }
  .custom-icon{
    font-size: 30px;
  
  }

.slider-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  height: 180px;
  margin-top: 20px;
  border: 2px solid gray;
  border-radius: 5px;
  padding: 10px;
  margin-left: 20px;
}

.filter-text{
  font-size: 20px;
  font-weight: 600;
  align-self: flex-start;
}

.rc-slider {
  /* width: 80%;  */
  margin-bottom: 10px;
}


.price-range-display {
  font-size: 16px;
  margin-bottom: 10px; 
}

.filter-buttons {
  display: flex;
  gap: 10px;
}

.filter-buttons button {
  padding: 1px 10px;
  background-color: white; 
  color: black;
  border: 1px solid black;
  border-radius: 4px;
  cursor: pointer;
  height: 30px;
  
}

.filter-buttons button:hover {
  background-color: black;
  color: white;
}

.product-top{
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}
