.size-image{
    height: 100vh;
    width: 40%;
    background-size: cover; 
}
.main{
    display: flex;
    justify-content: center;
     
}

.size-btn{
    font-size: 12px;
    height: 30px;
    width: 30px;
    padding: 5px;
}